USE [master]
GO
/****** Object:  Database [QuanLyLichThi_K235480106104]    Script Date: 2/05/2026 11:42:56 PM ******/
CREATE DATABASE [QuanLyLichThi_K235480106104]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyLichThi_K235480106104', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyLichThi_K235480106104.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyLichThi_K235480106104_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyLichThi_K235480106104_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLichThi_K235480106104].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLichThi_K235480106104]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeSuDungPhongThi]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm multi-statement TVF để thống kê sử dụng phòng thi
CREATE   FUNCTION [dbo].[fn_ThongKeSuDungPhongThi]()
RETURNS @KetQua TABLE
(
    -- Mã phòng thi
    [MaPhong] INT,

    -- Tên phòng thi
    [TenPhong] NVARCHAR(50),

    -- Số lịch thi đã xếp vào phòng
    [SoLichThi] INT,

    -- Tổng số chỗ tối đa đã phân bổ cho các lịch thi ở phòng đó
    [TongChoPhanBo] INT,

    -- Đánh giá mức sử dụng phòng
    [MucDoSuDung] NVARCHAR(50)
)
AS
BEGIN
    -- Ghi dữ liệu thống kê vào bảng kết quả
    INSERT INTO @KetQua
    SELECT
        pt.[MaPhong],
        pt.[TenPhong],
        COUNT(lt.[MaLichThi]) AS SoLichThi,
        ISNULL(SUM(lt.[SoLuongToiDa]), 0) AS TongChoPhanBo,
        CASE
            WHEN COUNT(lt.[MaLichThi]) = 0 THEN N'ChuaSuDung'
            WHEN COUNT(lt.[MaLichThi]) <= 1 THEN N'SuDungIt'
            ELSE N'SuDungNhieu'
        END AS MucDoSuDung
    FROM [PhongThi] pt
    LEFT JOIN [LichThi] lt ON pt.[MaPhong] = lt.[MaPhong]
    GROUP BY pt.[MaPhong], pt.[TenPhong];

    -- Trả về bảng kết quả
    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThoiLuongThiPhut]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm scalar để tính thời lượng thi theo phút
CREATE   FUNCTION [dbo].[fn_TinhThoiLuongThiPhut]
(
    -- Tham số đầu vào là mã lịch thi
    @MaLichThi INT
)
RETURNS INT
AS
BEGIN
    -- Khai báo biến lưu giờ bắt đầu
    DECLARE @GioBatDau TIME;

    -- Khai báo biến lưu giờ kết thúc
    DECLARE @GioKetThuc TIME;

    -- Khai báo biến kết quả thời lượng
    DECLARE @ThoiLuong INT;

    -- Lấy giờ bắt đầu và giờ kết thúc từ bảng LichThi
    SELECT
        @GioBatDau = [GioBatDau],
        @GioKetThuc = [GioKetThuc]
    FROM [LichThi]
    WHERE [MaLichThi] = @MaLichThi;

    -- Nếu không tìm thấy lịch thi thì trả về NULL
    IF @GioBatDau IS NULL OR @GioKetThuc IS NULL
        RETURN NULL;

    -- Tính số phút giữa giờ bắt đầu và giờ kết thúc
    SET @ThoiLuong = DATEDIFF(MINUTE, @GioBatDau, @GioKetThuc);

    -- Trả về kết quả thời lượng thi
    RETURN @ThoiLuong;
END;

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](150) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongThi]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SucChua] [int] NOT NULL,
	[KhuNha] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PhongThi] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[MaLichThi] [int] IDENTITY(1,1) NOT NULL,
	[MaMonHoc] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayThi] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[SoLuongToiDa] [int] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_LichThi] PRIMARY KEY CLUSTERED 
(
	[MaLichThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayLichThiTheoNgay]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm inline TVF để lấy danh sách lịch thi theo ngày
CREATE   FUNCTION [dbo].[fn_LayLichThiTheoNgay]
(
    -- Tham số đầu vào là ngày cần tra cứu lịch thi
    @NgayThi DATE
)
RETURNS TABLE
AS
RETURN
(
    -- Trả về danh sách lịch thi theo ngày cùng thông tin môn học và phòng thi
    SELECT
        lt.[MaLichThi],
        mh.[TenMonHoc],
        pt.[TenPhong],
        lt.[NgayThi],
        lt.[GioBatDau],
        lt.[GioKetThuc],
        lt.[SoLuongToiDa],
        [dbo].[fn_TinhThoiLuongThiPhut](lt.[MaLichThi]) AS ThoiLuongThiPhut
    FROM [LichThi] lt
    INNER JOIN [MonHoc] mh ON lt.[MaMonHoc] = mh.[MaMonHoc]
    INNER JOIN [PhongThi] pt ON lt.[MaPhong] = pt.[MaPhong]
    WHERE lt.[NgayThi] = @NgayThi
);

GO
/****** Object:  Table [dbo].[DangKyThi]    Script Date: 2/05/2026 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyThi](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MaLichThi] [int] NOT NULL,
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[HoTenSinhVien] [nvarchar](150) NOT NULL,
	[NgayDangKy] [datetime] NOT NULL,
	[TrangThaiDuThi] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DangKyThi] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DangKyThi] ON 

INSERT [dbo].[DangKyThi] ([MaDangKy], [MaLichThi], [MaSinhVien], [HoTenSinhVien], [NgayDangKy], [TrangThaiDuThi]) VALUES (1, 1, N'K235480106001', N'Nguyễn Văn An', CAST(N'2026-05-02T23:28:54.407' AS DateTime), N'DaDangKy')
INSERT [dbo].[DangKyThi] ([MaDangKy], [MaLichThi], [MaSinhVien], [HoTenSinhVien], [NgayDangKy], [TrangThaiDuThi]) VALUES (2, 1, N'K235480106002', N'Trần Thị Bình', CAST(N'2026-05-02T23:28:54.407' AS DateTime), N'DaDangKy')
INSERT [dbo].[DangKyThi] ([MaDangKy], [MaLichThi], [MaSinhVien], [HoTenSinhVien], [NgayDangKy], [TrangThaiDuThi]) VALUES (3, 2, N'K235480106003', N'Lê Văn Cường', CAST(N'2026-05-02T23:28:54.407' AS DateTime), N'DaDangKy')
SET IDENTITY_INSERT [dbo].[DangKyThi] OFF
GO
SET IDENTITY_INSERT [dbo].[LichThi] ON 

INSERT [dbo].[LichThi] ([MaLichThi], [MaMonHoc], [MaPhong], [NgayThi], [GioBatDau], [GioKetThuc], [SoLuongToiDa], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-05-10' AS Date), CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time), 40, N'Thi giữa kỳ')
INSERT [dbo].[LichThi] ([MaLichThi], [MaMonHoc], [MaPhong], [NgayThi], [GioBatDau], [GioKetThuc], [SoLuongToiDa], [GhiChu]) VALUES (2, 2, 2, CAST(N'2026-05-10' AS Date), CAST(N'09:30:00' AS Time), CAST(N'11:30:00' AS Time), 35, N'Thi cuối kỳ')
INSERT [dbo].[LichThi] ([MaLichThi], [MaMonHoc], [MaPhong], [NgayThi], [GioBatDau], [GioKetThuc], [SoLuongToiDa], [GhiChu]) VALUES (3, 3, 3, CAST(N'2026-05-11' AS Date), CAST(N'13:30:00' AS Time), CAST(N'15:30:00' AS Time), 50, N'Thi cuối kỳ')
SET IDENTITY_INSERT [dbo].[LichThi] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [TrangThai]) VALUES (1, N'Cơ sở dữ liệu', 3, N'DangMo')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [TrangThai]) VALUES (2, N'Lập trình Java', 4, N'DangMo')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [TrangThai]) VALUES (3, N'Mạng máy tính', 3, N'DangMo')
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongThi] ON 

INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua], [KhuNha], [TrangThai]) VALUES (1, N'A101', 40, N'Nhà A', N'SanSang')
INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua], [KhuNha], [TrangThai]) VALUES (2, N'A102', 35, N'Nhà A', N'SanSang')
INSERT [dbo].[PhongThi] ([MaPhong], [TenPhong], [SucChua], [KhuNha], [TrangThai]) VALUES (3, N'B201', 50, N'Nhà B', N'SanSang')
SET IDENTITY_INSERT [dbo].[PhongThi] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhongThi_TenPhong]    Script Date: 2/05/2026 11:42:57 PM ******/
ALTER TABLE [dbo].[PhongThi] ADD  CONSTRAINT [UQ_PhongThi_TenPhong] UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyThi] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyThi] ADD  DEFAULT (N'DaDangKy') FOR [TrangThaiDuThi]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT (N'DangMo') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhongThi] ADD  DEFAULT (N'SanSang') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKyThi]  WITH CHECK ADD  CONSTRAINT [FK_DangKyThi_LichThi] FOREIGN KEY([MaLichThi])
REFERENCES [dbo].[LichThi] ([MaLichThi])
GO
ALTER TABLE [dbo].[DangKyThi] CHECK CONSTRAINT [FK_DangKyThi_LichThi]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_MonHoc]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_PhongThi] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongThi] ([MaPhong])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_PhongThi]
GO
ALTER TABLE [dbo].[DangKyThi]  WITH CHECK ADD  CONSTRAINT [CK_DangKyThi_TrangThaiDuThi] CHECK  (([TrangThaiDuThi]=N'VangThi' OR [TrangThaiDuThi]=N'DaDuThi' OR [TrangThaiDuThi]=N'DaHuy' OR [TrangThaiDuThi]=N'DaDangKy'))
GO
ALTER TABLE [dbo].[DangKyThi] CHECK CONSTRAINT [CK_DangKyThi_TrangThaiDuThi]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [CK_LichThi_GioHopLe] CHECK  (([GioKetThuc]>[GioBatDau]))
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [CK_LichThi_GioHopLe]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [CK_LichThi_SoLuongToiDa] CHECK  (([SoLuongToiDa]>(0)))
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [CK_LichThi_SoLuongToiDa]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_SoTinChi] CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_SoTinChi]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_TrangThai] CHECK  (([TrangThai]=N'NgungMo' OR [TrangThai]=N'DangMo'))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_TrangThai]
GO
ALTER TABLE [dbo].[PhongThi]  WITH CHECK ADD  CONSTRAINT [CK_PhongThi_SucChua] CHECK  (([SucChua]>(0)))
GO
ALTER TABLE [dbo].[PhongThi] CHECK CONSTRAINT [CK_PhongThi_SucChua]
GO
ALTER TABLE [dbo].[PhongThi]  WITH CHECK ADD  CONSTRAINT [CK_PhongThi_TrangThai] CHECK  (([TrangThai]=N'NgungSuDung' OR [TrangThai]=N'BaoTri' OR [TrangThai]=N'SanSang'))
GO
ALTER TABLE [dbo].[PhongThi] CHECK CONSTRAINT [CK_PhongThi_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDanhSachDuThi]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo procedure báo cáo chi tiết danh sách dự thi
CREATE   PROCEDURE [dbo].[sp_BaoCaoDanhSachDuThi]
AS
BEGIN
    SET NOCOUNT ON;

    -- Trả về danh sách dự thi sau khi join 4 bảng
    SELECT
        dk.[MaDangKy],
        dk.[MaSinhVien],
        dk.[HoTenSinhVien],
        mh.[TenMonHoc],
        pt.[TenPhong],
        lt.[NgayThi],
        lt.[GioBatDau],
        lt.[GioKetThuc],
        dk.[TrangThaiDuThi]
    FROM [DangKyThi] dk
    INNER JOIN [LichThi] lt ON dk.[MaLichThi] = lt.[MaLichThi]
    INNER JOIN [MonHoc] mh ON lt.[MaMonHoc] = mh.[MaMonHoc]
    INNER JOIN [PhongThi] pt ON lt.[MaPhong] = pt.[MaPhong]
    ORDER BY lt.[NgayThi], lt.[GioBatDau], dk.[HoTenSinhVien];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoSinhVienDangKy]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo procedure đếm số sinh viên đã đăng ký ở một lịch thi
CREATE   PROCEDURE [dbo].[sp_DemSoSinhVienDangKy]
    -- Mã lịch thi cần thống kê
    @MaLichThi INT,

    -- Biến OUTPUT trả về số sinh viên đã đăng ký
    @SoSinhVienDangKy INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Đếm số lượng đăng ký còn hiệu lực ở lịch thi
    SELECT @SoSinhVienDangKy = COUNT(*)
    FROM [DangKyThi]
    WHERE [MaLichThi] = @MaLichThi
      AND [TrangThaiDuThi] = N'DaDangKy';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLichThi]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo procedure thêm lịch thi mới có kiểm tra điều kiện logic
CREATE   PROCEDURE [dbo].[sp_ThemLichThi]
    -- Mã môn học cần xếp lịch thi
    @MaMonHoc INT,

    -- Mã phòng thi được chọn
    @MaPhong INT,

    -- Ngày thi
    @NgayThi DATE,

    -- Giờ bắt đầu thi
    @GioBatDau TIME,

    -- Giờ kết thúc thi
    @GioKetThuc TIME,

    -- Số lượng sinh viên tối đa
    @SoLuongToiDa INT,

    -- Ghi chú thêm
    @GhiChu NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra môn học có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [MonHoc] WHERE [MaMonHoc] = @MaMonHoc)
    BEGIN
        RAISERROR(N'Môn học không tồn tại.', 16, 1);
        RETURN;
    END;

    -- Kiểm tra phòng thi có tồn tại và sẵn sàng không
    IF NOT EXISTS (
        SELECT 1
        FROM [PhongThi]
        WHERE [MaPhong] = @MaPhong
          AND [TrangThai] = N'SanSang'
    )
    BEGIN
        RAISERROR(N'Phòng thi không tồn tại hoặc chưa sẵn sàng sử dụng.', 16, 1);
        RETURN;
    END;

    -- Kiểm tra giờ thi hợp lệ
    IF @GioKetThuc <= @GioBatDau
    BEGIN
        RAISERROR(N'Giờ kết thúc phải lớn hơn giờ bắt đầu.', 16, 1);
        RETURN;
    END;

    -- Kiểm tra số lượng tối đa không vượt sức chứa phòng
    IF EXISTS (
        SELECT 1
        FROM [PhongThi]
        WHERE [MaPhong] = @MaPhong
          AND [SucChua] < @SoLuongToiDa
    )
    BEGIN
        RAISERROR(N'Số lượng tối đa vượt quá sức chứa của phòng thi.', 16, 1);
        RETURN;
    END;

    INSERT INTO [LichThi]
    (
        [MaMonHoc],
        [MaPhong],
        [NgayThi],
        [GioBatDau],
        [GioKetThuc],
        [SoLuongToiDa],
        [GhiChu]
    )
    VALUES
    (
        @MaMonHoc,
        @MaPhong,
        @NgayThi,
        @GioBatDau,
        @GioKetThuc,
        @SoLuongToiDa,
        @GhiChu
    );
END;

GO
/****** Object:  Trigger [dbo].[trg_DangKyThi_KiemTraSoLuong]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger kiểm tra số lượng đăng ký trước khi chèn dữ liệu mới
CREATE   TRIGGER [dbo].[trg_DangKyThi_KiemTraSoLuong]
ON [dbo].[DangKyThi]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu tồn tại lịch thi bị vượt quá số lượng tối đa sau khi đăng ký mới
    IF EXISTS
    (
        SELECT 1
        FROM [LichThi] lt
        INNER JOIN inserted i ON lt.[MaLichThi] = i.[MaLichThi]
        WHERE
            (
                SELECT COUNT(*)
                FROM [DangKyThi] dk
                WHERE dk.[MaLichThi] = lt.[MaLichThi]
                  AND dk.[TrangThaiDuThi] = N'DaDangKy'
            ) > lt.[SoLuongToiDa]
    )
    BEGIN
        -- Báo lỗi và hủy giao dịch nếu vượt quá số lượng tối đa
        RAISERROR(N'Lịch thi đã đủ số lượng sinh viên đăng ký.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[DangKyThi] ENABLE TRIGGER [trg_DangKyThi_KiemTraSoLuong]
GO
/****** Object:  Trigger [dbo].[trg_LichThi_KiemTraTrungPhong]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger kiểm tra trùng giờ thi trong cùng một phòng
CREATE   TRIGGER [dbo].[trg_LichThi_KiemTraTrungPhong]
ON [dbo].[LichThi]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu tồn tại lịch thi mới bị trùng giờ với lịch cũ trong cùng phòng
    IF EXISTS
    (
        SELECT 1
        FROM inserted i
        INNER JOIN [LichThi] lt
            ON i.[MaPhong] = lt.[MaPhong]
           AND i.[NgayThi] = lt.[NgayThi]
           AND i.[MaLichThi] <> lt.[MaLichThi]
           AND i.[GioBatDau] < lt.[GioKetThuc]
           AND i.[GioKetThuc] > lt.[GioBatDau]
    )
    BEGIN
        -- Báo lỗi và hủy giao dịch nếu trùng phòng, trùng giờ
        RAISERROR(N'Phòng thi đã có lịch khác trong khoảng thời gian này.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;

GO
ALTER TABLE [dbo].[LichThi] ENABLE TRIGGER [trg_LichThi_KiemTraTrungPhong]
GO
/****** Object:  Trigger [dbo].[trg_LichThi_UpdatePhongThi]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger trên bảng LichThi: khi update thì update bảng PhongThi
CREATE TRIGGER [dbo].[trg_LichThi_UpdatePhongThi]
ON [dbo].[LichThi]
AFTER UPDATE
AS
BEGIN
    UPDATE pt
    SET pt.[SucChua] = pt.[SucChua] + 1
    FROM [PhongThi] pt
    INNER JOIN inserted i ON pt.[MaPhong] = i.[MaPhong];
END;

GO
ALTER TABLE [dbo].[LichThi] ENABLE TRIGGER [trg_LichThi_UpdatePhongThi]
GO
/****** Object:  Trigger [dbo].[trg_PhongThi_UpdateLichThi]    Script Date: 2/05/2026 11:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger trên bảng PhongThi: khi update thì update ngược lại bảng LichThi
CREATE TRIGGER [dbo].[trg_PhongThi_UpdateLichThi]
ON [dbo].[PhongThi]
AFTER UPDATE
AS
BEGIN
    UPDATE lt
    SET lt.[SoLuongToiDa] = lt.[SoLuongToiDa] + 1
    FROM [LichThi] lt
    INNER JOIN inserted i ON lt.[MaPhong] = i.[MaPhong];
END;

GO
ALTER TABLE [dbo].[PhongThi] ENABLE TRIGGER [trg_PhongThi_UpdateLichThi]
GO
USE [master]
GO
